<%- include('./common/header.ejs') %>
    <h1>Hello World</h1>
<br>
    <% if(result.length > 0){result.map( val =>  { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <a href="/oneArticle/<%= val._id %>">  <h2 class="card-title"> <%= val.title %> </h2> </a>
            <p class="card-text"> <%= val.article %> </p>
            </div>
        </div>
    <% }) %>

    <% } %>
    <% console.log(result) %>
</body>
</html>